body
{
    background: #536DFE;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

.gridster {
    margin: 0px auto;
}

.list-nostyle {
    list-style: none;
}

.gridster ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget {
    text-align: center;
    width: inherit;
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.24);
    border-radius: 4px;
    overflow: hidden;
}

.widget p
{
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
}

.error
{
    color: red;
}

.widget.editing {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both infinite;
}

.remove-widget
{
    position: absolute;
    right: 10px;
    font-size: 30px;
    z-index: 999;
    overflow: visible;
    top: 10px;
    cursor: pointer;    
}

@keyframes shake {
  10%, 90% {
    transform: rotate(0deg);
  }
  
  20%, 80% {
    transform: rotate(0.3deg);
  }

  40%, 60% {
    transform: rotate(-0.3deg);
  }
}